.card-content {
    border: 1px solid #222;
}


.gallery-image {
    align-self: center;
}

.gallery-description {
    height: 260px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color:#222;
    width: 260px;
}

.click {
    cursor: pointer;
    background-color: #222;
    color: white;
    font-size: 15px;
    display: flex;
}

p {
    color: white;
}

.card-actions {
    align-items: center;
    justify-content: center;

}

.like-counter {
    color: black;
}

.like-button {
    display: flex;
    color: red;
}

.likes {
    color: #222;
    justify-content: center;
}

img {
    margin: 30px;
  }
