body {
  background-color: #222;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

